.mb-5 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
    min-height: 25vh;
}

body {
    line-height: 1.2;
}

.bg-primary {
    background-color: #7c4439!important;
}

.text-primary {
    color: #7c4439!important;
}

.card-item {
	display: inline-block;
	margin: 20px;
	align-items: bottom;
	vertical-align: middle;
}

/* Square card */
.demo-card-square.mdl-card {
	width: 200px;
	height: 350px;
}

.demo-card-square>.mdl-card__title {
	color: rgb(64, 64, 64);
	background: center/100% no-repeat;
}

.demo-card-square>.mdl-card__title>h2 {
	background-color: rgba(200, 200, 200, 0.6);
	backdrop-filter: blur(2px);
}

.logo {
	border-radius: 5px;
	padding: 5px;
	height: 40px;
}
